<header class="app-header navbar">
  <div class="nav navbar-nav">
    <button class="navbar-toggler d-md-none" type="button" appMobileSidebarToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link sis-brand px-3 d-block d-sm-none" href="#">SIS</a>
    <a class="nav-item nav-link sis-brand px-3 d-none d-sm-block" href="#"><b>SIS</b> Administration</a>
  </div>

  <ul class="nav navbar-nav d-sm-down-none ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-home"></i></a>
    </li>
  </ul>

  <ul class="nav navbar-nav">
    <!--User dropdown menu-->
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">0</span></a>
    </li>
    <li *ngIf="user" class="nav-item dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        {{ user.name }}<i class="ml-2 fa fa-angle-down" ></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']">
          <span [translate]="'ProfileLink'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item"  [routerLink]="['/auth/logout']"><span [translate]="'LogoutLink'"></span></a>
      </div>
    </li>

    <!--Language switch dropdown menu-->
    <li *ngIf="currentLang" class="nav-item dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
         aria-expanded="false" dropdownToggle>
        {{currentLang}}<i class="ml-2 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" *ngFor="let language of languages">
          <button class="dropdown-item" [disabled]="language===currentLang" type="button"
                  (click)="changeLanguage(language)">{{ "Languages." + language | translate:{id: language} }}</button>
        </li>
      </ul>
    </li>
  </ul>
</header>

<div class="app-body">
  <app-sidebar [display]="'md'">
    <app-sidebar-nav #appSidebarNav></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid pt-4">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

<footer class="app-footer d-none">
  <a href="http://coreui.io"></a> &copy; 2018 Universis Project
  <span class="float-right"></span>
</footer>
